# # Flask Framework
# Flask
# Flask-SQLAlchemy
# Flask-Login
# Werkzeug

# # Database
# SQLAlchemy

# # Image Processing & AI
# opencv-python
# numpy==1.23.5
# Pillow

# # For CNN Model (TensorFlow-lite for lightweight deployment)
# tensorflow-cpu==2.10.0

# # Utilities
# python-dateutil
# transformers
# torch
# easyocr
# requests
# gunicorn

setuptools
wheel

Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug

SQLAlchemy

opencv-python
numpy==1.23.5
Pillow

tensorflow-cpu==2.10.0

python-dateutil
requests
gunicorn
